<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189904175536-n3d53d3mg4bmj9h2h8kd97khd4k3694i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189904175536-n3d53d3mg4bmj9h2h8kd97khd4k3694i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>189904175536-f9fg48qjct47q76cb82jmuqpo1fv327u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3lReQeAAWU7ZrrsBeb5lLStj7V3wGJNM</string>
	<key>GCM_SENDER_ID</key>
	<string>189904175536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevalbotadra.cibus</string>
	<key>PROJECT_ID</key>
	<string>cibus-428b7</string>
	<key>STORAGE_BUCKET</key>
	<string>cibus-428b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189904175536:ios:17be15e60f98d243da9675</string>
</dict>
</plist>